{
	"env": {
		"node": true,
		"es2020": true,
		"jest": true
	},
	"extends": ["plugin:prettier/recommended"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "only-warn"],
	"rules": {
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"no-tabs": "off",
		"semi": "off",
		"space-before-function-paren": "off"
	}
}
